body {
  background-color: #00d9ff26;
  font-family: sans-serif;
}

.main-heading {
  border-bottom: 1px solid black;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 9px;
  padding-top: 10px;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

input:focus {
  outline: none;
}

input[type='text'] {
  height: 35px;
  width: 400px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  border-radius: 3px;
  padding-left: 10px;
}

.pokemonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  width: 180px;
  border-radius: 6px;
  padding: 15px 20px 20px 20px;
  margin: 20px;
  background: radial-gradient(#00d9ff26, #8f97ffca);
  box-shadow: 5px 5px 10px 0px #ccc;
  transform: scale(0.95);
  transition: transform 1s;
}

.pokemon:hover {
  transform: scale(1);
  cursor: pointer;
}

.pokeCard-heading {
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
  display: flex;
  justify-content: space-between;
}

.pokemonName {
  color: rgba(30, 30, 30, 0.8);
  font-weight: 500;
  padding: 0px 0px 10px 10px;
  margin: 0px;
  font-size: 16px;
}

.pokemon img {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.pokemonInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 10px;
}

.types {
  display: flex;
  justify-content: center;
}

.type {
  display: flex;
  margin: 0px;
  font-size: 12px;
  color: rgba(20, 20, 20, 0.8);
  padding: 5px;
  border: 1px solid rgba(80, 80, 80, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.Grass,
.Poison,
.Bug,
.Flying,
.Dragon,
.Electric,
.Fighting,
.Fire,
.Ghost,
.Poison,
.Psychic,
.Ground,
.Rock,
.Ice,
.Flying,
.Normal,
.Water {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  border-radius: 50%;
  margin-right: 5px;
}

.Grass {
  background: linear-gradient(#83ad44, #48ff00);
}

.Poison {
  background: linear-gradient(#a370b1, #c800ff);
}

.Bug {
  background: linear-gradient(brown, black);
}

.Flying {
  background: linear-gradient(#fbff00, #eee1e1);
}

.Dragon {
  background: linear-gradient(#fdff75, #fccc7c);
}

.Electric {
  background: linear-gradient(#fbff00, #ffc400);
}

.Fighting {
  background: linear-gradient(#929252, #cccc5c);
}

.Fire {
  background: linear-gradient(#ff6600, #fbff00);
}

.Ghost {
  background: linear-gradient(#444141, #4e4242);
}

.Psychic {
  background: linear-gradient(#4e4b4b, #8b8989);
}

.Ground {
  background: linear-gradient(#584632, #5c4937);
}

.Rock {
  background: linear-gradient(#5d5c5c, #8f8f8f);
}

.Ice {
  background: linear-gradient(#00ffff, #ffffff);
}

.Water {
  background: linear-gradient(#008cff, #00ffff);
}

.Normal {
  background: linear-gradient(#ff6600, #dad1d1);
}
