body {
  background-color: #00d9ff26;
  font-family: sans-serif;
}

.main-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 9px;
  padding-top: 10px;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

input:focus {
  outline: none;
}

input[type='text'] {
  height: 35px;
  width: 400px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  border-radius: 3px;
  padding-left: 10px;
}

.pokemonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  width: 180px;
  border-radius: 6px;
  padding: 15px 20px 20px 20px;
  margin: 20px;
  background: radial-gradient(#00d9ff26, #8f97ffca);
  box-shadow: 5px 5px 10px 0px #ccc;
  transform: scale(0.95);
  transition: transform 1s;
}

.pokemon:hover {
  transform: scale(1);
  cursor: pointer;
}

.pokeCard-heading {
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
  display: flex;
  justify-content: center;
}

.pokemonName {
  color: rgba(30, 30, 30, 0.8);
  font-weight: 500;
  padding: 0px 0px 10px 10px;
  margin: 0px;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 20px;
}

.pokemon-image {
  height: 150px;
  margin: 20px;
}

.pokemonInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 10px;
}

.types {
  display: flex;
  justify-content: center;
}

.type {
  display: flex;
  margin: 0px;
  font-size: 12px;
  padding: 5px;
  border: 1px solid rgba(80, 80, 80, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.pokemonBack {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 0px 0px 200px;
  transition: all 1.5s;
  overflow: hidden;
}

.backName {
  text-align: center;
  border-bottom: 1px solid black;
}

.table tr,
td,
th {
  text-align: left;
}

.pokemonBack > .icon {
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 1;
  color: rgba(0, 0, 0, 0.507);
}

.pokemonBack > .table {
  opacity: 0;
}

.pokemonBack > .backName {
  opacity: 0;
}

.pokemonBack:hover {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: radial-gradient(#ffffff3f, #767fff);
  transition: all 2s;
}

.pokemonBack:hover .icon {
  opacity: 0;
}

.pokemonBack:hover .table {
  opacity: 1;
}

.pokemonBack:hover .backName {
  opacity: 1;
}

.Grass,
.Poison,
.Bug,
.Flying,
.Dragon,
.Electric,
.Fighting,
.Fire,
.Ghost,
.Poison,
.Psychic,
.Ground,
.Rock,
.Ice,
.Flying,
.Normal,
.Water,
.Steel,
.Dark,
.Fairy {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  border-radius: 50%;
  margin-right: 5px;
}
.Grass {
  background: linear-gradient(#83ad44, #48ff00);
}
.Poison {
  background: linear-gradient(#a370b1, #c800ff);
}
.Bug {
  background: linear-gradient(brown, black);
}
.Flying {
  background: linear-gradient(#fbff00, #eee1e1);
}
.Dragon {
  background: linear-gradient(#fdff75, #fccc7c);
}
.Electric {
  background: linear-gradient(#fbff00, #ffc400);
}
.Fighting {
  background: linear-gradient(#929252, #cccc5c);
}
.Fire {
  background: linear-gradient(#ff6600, #fbff00);
}
.Ghost {
  background: linear-gradient(#444141, #4e4242);
}
.Psychic {
  background: linear-gradient(#4e4b4b, #8b8989);
}
.Ground {
  background: linear-gradient(#584632, #5c4937);
}
.Rock {
  background: linear-gradient(#5d5c5c, #8f8f8f);
}
.Ice {
  background: linear-gradient(#00ffff, #ffffff);
}
.Water {
  background: linear-gradient(#008cff, #00ffff);
}
.Normal {
  background: linear-gradient(#683c1f, #fbff00);
}
.Steel {
  background: linear-gradient(#ffffff, #3d3d3d);
}
.Dark {
  background: linear-gradient(#161616, #7c6d6d);
}
.Fairy {
  background: linear-gradient(#ffee00, #ffffff91);
}
.info-icon {
  height: 10%;
}
