body {
  background-color: #00d9ff26;
  font-family: sans-serif;
}

.main-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  font-weight: 400;
  margin: 0%;
  padding: 0%;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

input:focus {
  outline: none;
}

input[type='text'] {
  height: 3.5vh;
  width: 40vh;
  border: none;
  background-color: transparent;
  border-bottom: 0.1vh solid rgba(80, 80, 80, 0.5);
  border-radius: 0.3vh;
  padding-left: 1vh;
}

.pokemonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2vw;
}

.pokemon {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5vh;
  margin: 1vh;
  background-color: #00d9ff26;
  box-shadow: 0.5vh 0.5vh 1vh 0vh #ccc;
  transform: scale(0.95);
  border: 0.1vh solid black;
  transition: transform 1s;
}

.pokemon:hover {
  transform: scale(1);
  cursor: pointer;
}

.pokeCard-heading {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.1vh solid black;
}

.pokemon-image {
  height: 20vh;
  margin: 2vh;
}

.types {
  display: flex;
  justify-content: center;
  margin: 2vh 0vh 1vh 0vh;
}

.type {
  display: flex;
  font-size: 1em;
  padding: 0.5vh;
  margin: 0vh 0.5vh 0vh 0.5vh;
}

.backName {
  text-align: center;
  font-weight: 500;
}

.table tr,
td,
th {
  text-align: left;
  font-weight: 500;
}

td {
  text-align: right;
}

.Grass,
.Poison,
.Bug,
.Flying,
.Dragon,
.Electric,
.Fighting,
.Fire,
.Ghost,
.Poison,
.Psychic,
.Ground,
.Rock,
.Ice,
.Flying,
.Normal,
.Water,
.Steel,
.Dark,
.Fairy {
  width: 1.5vh;
  height: 1.5vh;
  margin-top: 0.3vh;
  border-radius: 100vh;
  margin-right: 0.5vh;
}
.Grass {
  background: linear-gradient(#83ad44, #48ff00);
}
.Poison {
  background: linear-gradient(#a370b1, #c800ff);
}
.Bug {
  background: linear-gradient(brown, black);
}
.Flying {
  background: linear-gradient(#fbff00, #eee1e1);
}
.Dragon {
  background: linear-gradient(#fdff75, #fccc7c);
}
.Electric {
  background: linear-gradient(#fbff00, #ffc400);
}
.Fighting {
  background: linear-gradient(#929252, #cccc5c);
}
.Fire {
  background: linear-gradient(#ff6600, #fbff00);
}
.Ghost {
  background: linear-gradient(#444141, #4e4242);
}
.Psychic {
  background: linear-gradient(#4e4b4b, #8b8989);
}
.Ground {
  background: linear-gradient(#584632, #5c4937);
}
.Rock {
  background: linear-gradient(#5d5c5c, #8f8f8f);
}
.Ice {
  background: linear-gradient(#00ffff, #ffffff);
}
.Water {
  background: linear-gradient(#008cff, #00ffff);
}
.Normal {
  background: linear-gradient(#683c1f, #fbff00);
}
.Steel {
  background: linear-gradient(#ffffff, #3d3d3d);
}
.Dark {
  background: linear-gradient(#161616, #7c6d6d);
}
.Fairy {
  background: linear-gradient(#ffee00, #ffffff91);
}
.info-icon {
  height: 10%;
}
